@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --bg-color: #202020;
  --nav-item-active-bg: rgba(112, 108, 108, 0.2);
  --nav-anim-delay: 750ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color)
}

.nav-container {
  display: flex;
  height: 6vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95%;
  width: 50%;
  margin-top: 3vh;
  border-radius: 30px;
  background-color: rgba(61, 60, 60, 0.2);
  transition: width var(--nav-anim-delay) ease;
}

.nav-item {
  padding: 10px 14px;
  transition: var(--nav-anim-delay) ease;
  border: none;
  border-radius: 10px;
  font-size: 11pt;
  color: rgb(136, 133, 133);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
}

.nav-item:hover {
  background-color: var(--nav-item-active-bg);
  color: white;
  cursor: pointer;
}

.nav .active {
  background-color: var(--nav-item-active-bg);
  color: white;
}

@media (max-width: 768px) {
  .nav-item {
    font-size: 9pt;
  }
  .nav {
    width: 70%;
  }
}