@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --bg-color: #202020;
  --nav-bg-color: rgba(60, 60, 60, 0.2);
  --nav-item-active-bg: rgba(112, 108, 108, 0.2);
  --nav-item-color: rgb(136, 133, 133);
  --nav-item-hover-color: white;
  --nav-item-active-width: 4rem;
  --nav-item-active-offset: 0.4rem;
  --nav-anim-delay: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  transition: background-color;
}

.nav-container {
  display: flex;
  height: 6vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.nav {
  padding: 0 12px;
  display: flex;
  align-items: center;
  height: 85%;
  border-radius: 15px;
  background-color: var(--nav-bg-color);
  transition: width var(--nav-anim-delay) ease;
}

.color-theme {
  padding: 0 12px;
  margin-left: 1em;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 50px;
  border: none;
  border-radius: 15px;
  background-color: var(--nav-bg-color);
  transition: var(--nav-anim-delay);
}

.theme-icon {
  position: absolute;
  padding: 0 10px;
  transition: margin-left var(--nav-anim-delay);
  width: 95%;
}

.theme-icon:nth-child(2) {
  margin-left: 6rem;
}

.color-theme:hover { cursor: pointer; }

.nav-item {
  padding: 10px 12px;
  margin: 0 6px 0 6px;
  transition: var(--nav-anim-delay) ease;
  border: none;
  border-radius: 10px;
  font-size: 11pt;
  color: var(--nav-item-color);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
}

.nav-item:hover:not(.active) {
  color: var(--nav-item-hover-color);
  opacity: 0.8;
  cursor: pointer;
  scale: 1.05;
}

.nav-item.active {
  color: var(--nav-item-hover-color);
  scale: 1.05;
}

.nav::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  transform: translateX(var(--nav-item-active-offset));
  width: var(--nav-item-active-width);
  height: 2.25rem;
  background-color: var(--nav-item-active-bg);
  transition: var(--nav-anim-delay);
}

@media (max-width: 700px) {
  :root {
    --nav-item-active-width: 3.1rem;
    --nav-item-active-offset: 0.4rem;
  }
  .nav, .color-theme { height: 75%; }
  .color-theme { 
    width: 45px;
  }
  .theme-icon { width: 90%; }
  .nav::before { height: 1.75rem; }
  .nav-item {
    font-size: 8pt;
    padding: 0 10px;
  }
}