@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --nav-item-active-bg: rgba(112, 108, 108, 0.2);
  --nav-anim-delay: 750ms;
  --nav-item-active-width: 3.3vw;
  --nav-item-active-offset: 0.4vw;
  --bg-color: #202020;
  --nav-item-color: rgb(136, 133, 133);
  --nav-item-hover-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color)
}

.nav-container {
  display: flex;
  height: 6vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
  padding: 0 12px;
  display: flex;
  align-items: center;
  height: 85%;
  margin-top: 3vh;
  border-radius: 15px;
  background-color: rgba(61, 60, 60, 0.2);
  transition: width var(--nav-anim-delay) ease;
}

.color-theme {
  padding: 0 12px;
  margin-left: 1em;
  display: flex;
  align-items: center;
  height: 85%;
  margin-top: 3vh;
  border-radius: 15px;
  background-color: rgba(61, 60, 60, 0.2);
}

.color-theme:hover { cursor: pointer; }

.nav-item {
  padding: 10px 12px;
  margin: 0 6px 0 6px;
  transition: var(--nav-anim-delay) ease;
  border: none;
  border-radius: 10px;
  font-size: 11pt;
  color: var(--nav-item-color);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
}

.nav-item:hover:not(.active) {
  color: var(--nav-item-hover-color);
  opacity: 0.5;
  cursor: pointer;
  scale: 1.05;
}

.nav-item.active {
  color: var(--nav-item-hover-color);
  scale: 1.05;
}

.nav::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  transform: translateX(var(--nav-item-active-offset));
  width: var(--nav-item-active-width);
  height: 2.25rem;
  background-color: var(--nav-item-active-bg);
  transition-property: transform, width;
  transition-duration: 1s, 1.25s;
}

@media (max-width: 768px) {
  .nav-item {
    font-size: 8pt;
    padding: 0 10px;
  }
}